.layout-header-content {
  height: 100%;
}

.layout-header-logo-container {
  width: 120px;
  height: 70px;
}

.layout-header-logo {
  max-width: 100%;
  max-height: 100%;
}

::ng-deep .ant-tabs-nav {
  font-weight: 500;
}

::ng-deep .ant-tabs-bar {
  border-bottom: none;
}

::ng-deep .ant-tabs-ink-bar {
  height: 4px;
}

@media screen and (max-width: 1024px) {
  ::ng-deep .ant-tabs-nav .ant-tabs-tab {
    margin: 0;
  }

  ::ng-deep .ant-layout-header {
    padding: 0 6rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1360px) {
  ::ng-deep .ant-tabs-nav .ant-tabs-tab {
    margin: 0 2rem 0 0;
  }
}
