.layout-content-events {
  padding: 64px 160px;
  flex-direction: column;
  min-height: 1000px;
  background-color: #ffffff;
}

.layout-content-events-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 100px;
}

.layout-content-events-filter {
  margin-bottom: 70px;
}

.layout-content-events-filter-button {
  padding: 20px 40px;
  min-width: 250px;
  min-height: 70px;
  margin-right: 32px;
}

.layout-content-events-list {
  width: 100%;
}

::ng-deep .ant-card-body {
  padding-right: 0;
  padding-left: 0;
}

::ng-deep .ant-card-actions {
  border-top: none;
}

::ng-deep .ant-card-actions > li {
  text-align: start;
}

::ng-deep .ant-card-meta-title {
  font-size: 16px;
  color: #202020;
  font-weight: bold;
}

::ng-deep .ant-card-meta-description {
  font-size: 20px;
  color: #202020;
  font-family: "Open Sans", sans-serif;
}
