<div class="layout-content-events" nz-row nzType="flex">
  <div class="layout-content-events-title">
    <span>Убедись, что ты ничего не пропустишь</span>
  </div>
  <div class="layout-content-events-filter" nz-row nzType="flex">
    <button
      *ngIf="(masterclassData$ | async)?.length > 0"
      class="layout-content-events-filter-btn"
      nz-button
      nzSize="small"
      [nzType]="filterActive === masterclassTitle ? 'primary' : 'default'"
      (click)="onFilterEventData(masterclassTitle)"
    >
      {{ masterclassTitle | uppercase }}
    </button>
    <button
      *ngIf="(meetupData$ | async)?.length > 0"
      class="layout-content-events-filter-btn"
      nz-button
      nzSize="small"
      [nzType]="filterActive === meetupTitle ? 'primary' : 'default'"
      (click)="onFilterEventData(meetupTitle)"
    >
      {{ meetupTitle | uppercase }}
    </button>
    <button
      *ngIf="(digestData$ | async)?.length > 0"
      class="layout-content-events-filter-btn"
      nz-button
      nzSize="small"
      [nzType]="filterActive === digestTitle ? 'primary' : 'default'"
      (click)="onFilterEventData(digestTitle)"
    >
      {{ digestTitle | uppercase }}
    </button>
  </div>
  <div class="layout-content-events-list">
    <ng-container *ngFor="let data of filteredData$ | async">
      <div nz-col nzSpan="8">
        <div class="layout-content-events-item-container" nz-row nzType="flex">
          <nz-card
            class="layout-content-events-item"
            [nzBordered]="false"
            [nzCover]="coverTemplate"
          >
            <nz-card-meta
              [nzTitle]="data?.title | uppercase"
              [nzDescription]="descriptionTemplate"
            ></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img
              class="layout-content-events-item-image"
              [src]="data?.imageUrl"
              alt="event"
            />
          </ng-template>
          <ng-template #descriptionTemplate>
            <p
              class="layout-content-events-item-description"
              nz-paragraph
              nzEllipsis
              [nzEllipsisRows]="2"
              [nzContent]="data?.description"
            ></p>
            <div
              nz-row
              nzType="flex"
              nzAlign="middle"
              nzJustify="space-between"
            >
              <div class="layout-content-events-item-date">
                {{ data?.date | date: "EEEE, d MMMM, y" | uppercase }}
              </div>
              <app-arrow-right-icon></app-arrow-right-icon>
            </div>
          </ng-template>
        </div>
      </div>
    </ng-container>
  </div>
</div>
