.layout-content-events {
  padding: 64px 160px;
  flex-direction: column;
  min-height: 1200px;
  background-color: #ffffff;
}

.layout-content-events-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 100px;
}

.layout-content-events-filter {
  margin-bottom: 70px;
}

.layout-content-events-filter-button {
  padding: 15px 30px;
  min-width: 160px;
  margin-right: 32px;
}

.layout-content-events-list {
  width: 100%;
}

::ng-deep .ant-card-body {
  padding: 24px 0 12px 0;
}

::ng-deep .ant-card-actions {
  border-top: none;
}

::ng-deep .ant-card-actions > li {
  text-align: start;
}

::ng-deep .ant-card-meta-title {
  font-size: 16px;
  color: #202020;
  font-weight: bold;
}

::ng-deep .ant-card-meta-description {
  font-size: 20px;
  color: #202020;
  font-family: "Open Sans", sans-serif;
}

::ng-deep .ant-btn {
  box-sizing: content-box;
}

::ng-deep .ant-btn-primary:focus,
::ng-deep .ant-btn-primary:active {
  background-color: #47529e;
  border-color: #47529e;
  color: #ffffff;
}

::ng-deep .ant-btn-default:focus,
::ng-deep .ant-btn-default:active {
  background-color: #ffffff;
  border-color: #47529e;
  color: #47529e;
}
