.layout-footer-content {
  height: 100%;
}

.layout-footer-logo {
  width: 120px;
  height: 70px;
}

::ng-deep .ant-list {
  color: #ffffff;
}

.layout-footer-link {
  color: #ffffff;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

::ng-deep .ant-list-header {
  text-align: start;
  font-weight: bold;
}

.layout-footer-social {
  min-width: 300px;
}
