.back-to-top-btn {
  position: absolute;
  right: 64px;
  top: -36px;
}

.layout-footer-content {
  height: 100%;
}

.layout-footer-logo-container {
  width: 120px;
  height: 70px;
}

.layout-footer-logo {
  max-width: 100%;
  max-height: 100%;
}

.layout-footer-link {
  color: #ffffff;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.layout-footer-social {
  min-width: 300px;
}

::ng-deep .ant-list {
  color: #ffffff;
}

::ng-deep .ant-list-header {
  text-align: start;
  font-weight: bold;
  padding-top: 0;
}
