@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

//Overwrite ng-zorro-antd style variables
@primary-color: #202020;
@tabs-ink-bar-color: #47529e;
@font-family: "Roboto", sans-serif;
@font-size-base: 16px;

@layout-header-background: #f0f5f7;
@layout-header-height: 145px;
@layout-header-padding: 0 160px;

@layout-footer-background: #202020;
