.layout-content-registration {
  padding: 32px 160px 74px 160px;
  background-color: #f0f5f7;
}

.layout-content-registration-card {
  width: 100%;
  min-height: 590px;
  padding: 80px;
  background-color: #47529e;
  color: #ffffff;
  flex-direction: column;
}

.registration-card-button {
  padding: 20px 45px;
}

.registration-card-date {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 40px;
}

.registration-card-title {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 20px;
}

.registration-card-description {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-bottom: 55px;
}

.registration-card-image-container {
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.registration-card-image {
  width: 100%;
  height: auto;
}
