<div class="layout-content-partners">
  <span class="layout-content-partners-title">Ты хорошей компании</span>
  <div class="layout-content-partners-content">
    <div nz-row nzGutter="80">
      <div nz-col nzSpan="12">
        Идейные соображения высшего порядка, а также укрепление и развитие
        внутренней структуры позволяет выполнить важные задания по разработке
        экспериментов, поражающих по своей масштабности и грандиозности.
      </div>
      <div nz-col nzSpan="12">
        Каждый из нас понимает очевидную вещь: начало повседневной работы по
        формированию позиции напрямую зависит от поэтапного и последовательного
        развития общества.
      </div>
    </div>
    <div
      class="layout-content-partners-list"
      nz-row
      nzType="flex"
      nzJustify="space-between"
      nzAlign="middle"
    >
      <img src="/assets/images/amazon-logo.png" alt="amazon" />
      <img src="/assets/images/amazon-logo.png" alt="amazon" />
      <img src="/assets/images/amazon-logo.png" alt="amazon" />
      <img src="/assets/images/amazon-logo.png" alt="amazon" />
      <img src="/assets/images/amazon-logo.png" alt="amazon" />
      <img src="/assets/images/amazon-logo.png" alt="amazon" />
    </div>
    <div nz-row nzType="flex" nzAlign="middle">
      <span class="layout-content-help">Хочешь помочь нам? Вперед!</span>
      <app-arrow-right-icon></app-arrow-right-icon>
    </div>
  </div>
</div>
